# Sensitive data
brine_certs/

# Archive directories
**/archive/
**/Archive/

# Workbench
workbench/

# OS files
.DS_Store
**/.DS_Store

# IDE
.vscode/
.idea/
/brine_electronics/Brine Mainboard/Brine-backups
*.kicad_pcb.lck
