<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431909607108-lcjsidfjbrtd6a0vq9dseleodh4fnorj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431909607108-lcjsidfjbrtd6a0vq9dseleodh4fnorj</string>
	<key>API_KEY</key>
	<string>AIzaSyC8Jp6ChQT_YiGZYcXIVbecMwZgzxMT3EM</string>
	<key>GCM_SENDER_ID</key>
	<string>431909607108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brine</string>
	<key>PROJECT_ID</key>
	<string>brine-3b212</string>
	<key>STORAGE_BUCKET</key>
	<string>brine-3b212.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431909607108:ios:c544b399eb90ccb1081b91</string>
	<key>DATABASE_URL</key>
	<string>https://brine-3b212-default-rtdb.firebaseio.com</string>
</dict>
</plist>